
.facdep{
  box-sizing: border-box;
  padding-top:100px;

}

.hf{
  margin-top:200px;
}
.brand{
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    text-align: center;
    margin: auto;
}
.scan input[type="text"]{
  height:80px;
  font-size:3.5em;
  text-align: center;
  display:block;
  margin:0 auto;
}
.logo{
  height: 46px;
}
.thead{
  float: left;
}
.thead th,.tbody td{
  display:block;
}
.tbody{
  float:right;
}


.hid:focus{
    outline:none;
}
.hid{
  -webkit-box-shadow:none !important;
  -moz-box-shadow:none !important;
  cursor: default;
  background: #fff;
  width:1px;
  height:1px;
  font-size: 1px;
  color : #fff;
  text-shadow : 0 0 0 #fff;
}
/*::selection {
    background: red;
}*/
